*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
 body{
   background-color: #820000;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F010C0'/%3E%3Cstop offset='1' stop-color='%23820000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23F7D80F' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23F7D80F' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
   background-attachment: fixed;
   background-size: cover;
 }

 main h1{
    font-size: 35px;
    letter-spacing: 3px;
    color: yellow;
    padding: 20px;
    margin-top: 20px;
 }

 h1, h2, p{
    color: #fff;
    text-align: center;
 }

 h2{
    /*padding: 15px; se lo saco porque puse el gap en .contenedor-main*/
    letter-spacing: 2px;
    font-size: 25px;
 }


 .contenedor-main{
    border: 2px solid yellow;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 18px; /*antes de usar el gap hay q' poner el display flex*/
 }

 .drag, .drop{
    border: 2px solid white;
    display: flex;
    min-height: 230px; /*p/tener un poco más de espacio*/
    justify-content: space-around;
    padding: 10px;
    
 }



 .drop .raza{
    border: 2px solid yellowgreen;
    min-width: 100px; /*si hubiese puesto 'width', el tamaño sería invariable, pero en este caso, si la raza es muy larga, la caja se puede agrandar*/
    padding: 10px;
    height: 100px;
    display: grid;
    place-content: center; /*p/alinear verticalmente el texto. Funciona con el display grid de arriba*/
}

.drop .raza p{
    letter-spacing: 2px;
    font-size: 23px;
    
}


.imagen{
    width: 150px;
    cursor: pointer;
}